<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the App rails</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <a href="/signup" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo") %>
<!--<img alt="Rails logo" src="app/assets/images/rails-9308b8f92fea4c19a3a0d8385b494526.png" />
<img alt="Rails logo" src="	assets/images/rails.png" /> -->